@model EditorTexto

@{
    ViewData["Title"] = "Editor Text";
}


<div>

    <h1>Editor de Texto</h1>

    <form asp-action="Create" method="post" id="textoEditorForm">

        <div>
            <textarea id="summernote" asp-for="@Model.Content"></textarea>
        </div>
        <div class="text-danger"
             id="summerNote-Error"
             style="display:none;">
        </div>

        <button type="submit" class="btn btn-primary mt-5" onclick="event.preventDefault(); validarTextArea();">
            Submit Text
        </button>
    </form>

</div>

<div class="mt-5">
    @Html.Raw(Model.Content)
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        function validarTextArea() {

            var isValid = true;

            if ($('#summernote').summernote('isEmpty')) {
                isValid = false;
                $('#summerNote-Error').text('O campo Texto é de preenchimento obrigatório.').show();
            } else {
                $('#summerNote-Error').hide();
            }

            if (isValid) {
                var form = $('#textoEditorForm');
                form.submit();
            }
        }

        $(document).ready(function () {
            $('#summernote').summernote({
                lang: "pt-BR",
                minHeight: 300,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']] // Removendo 'fullscreen'
                ]
            });
        });

    </script>
}