@model TestRadio
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <form asp-action="Receber">

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox1" asp-for="@Model.Periodo" value="1">
            <label class="form-check-label" for="inlineCheckbox1">Dia</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" asp-for="@Model.Periodo" value="2">
            <label class="form-check-label" for="inlineCheckbox2">Noite</label>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>